name: Node.js Tests

on:
  push:
    branches: ["test", "main"]
  pull_request:
    branches: ["test", "main"]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do repositório
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Instalar dependências
      run: npm install

    - name: Executar testes
      run: npm test
